* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2e8cf;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 50px;
}

#title {
    padding-top: 55px;
    margin-left: 200px;
    font-weight: 800;
    font-size: 90px;
    color: #091540;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    box-shadow: 10px 10px 7px rgba(9, 21, 64, 0.2);
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 50px;
}

.cell {
    display: grid;
    background-color: #fff;
}

.grid {
    border: 0.3px solid rgb(215, 226, 227);
}

#buttons {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #091540;
    box-shadow: 5px 5px 5px rgba(9, 21, 64, 0.6);
    border-color: #091540 #f2e8cf #f2e8cf #091540;
    border-width: 1px;
    transition: scale 0.5s;
}

.btn:hover {
    scale: 0.9;
}

#color-input {
    appearance: none;
    -webkit-appearance: none;
    width: 70px;
    height: 70px;
    background: transparent;
    border: none;
    margin-left: 30%;
}

#color-input::-webkit-color-swatch {
    border-radius: 50%;
}

#color-input::-moz-color-swatch {
    border-radius: 50%;
}

#range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    background: #091540;
    border: 1px solid #000;
    border-radius: 2px;
    margin-top: 20px;
}

#range::-webkit-slider-thumb {
    appearance: none;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f2e8cf;
}

#range::-moz-range-thumb {
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:rgb(171, 220, 224);
}

.toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #f2e8cf;
    border: 1px solid #091540;
    border-radius: 30px;
    transition: all 0.5s;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0px;
    border: 1px solid #091540;
    border-radius: 50%;
    background-color: #091540;
    transition: all 0.3s;
}

.checkbox:checked + .toggle::after {
    left: 60px;
    background-color: #f2e8cf;
}

.checkbox:checked + .toggle {
    background: rgba(9, 21, 64);
}

.checkbox {
    display: none;
}

.check {
    box-shadow: none;
}

/*
add active style to buttons
 */